
<app-header [config]="{hasSearchBar:true}" (searchBtnClickHandler)="onSearch($event)"></app-header>
<div class="container">    
    <div *ngIf="isLoading" class="loader-wrapper">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isLoading" class="list-wrapper">
        <ng-container *ngIf="users.length > 0; else emptyState">
            <div *ngFor="let user of users" (click)="onUserCardClick(user.id)">
                <app-user-card [user]="user"></app-user-card>
            </div>
        </ng-container>
        <ng-template #emptyState>
            <p>No users with this id</p>
        </ng-template>
    </div>
</div>
<mat-paginator 
    class="paginator"
    [length]="totalCount"
    [pageSize]="6"
    aria-label="Select page"
    (page)="handlePage($event)">
</mat-paginator>
