.container {
    overflow: hidden;
}

.list-wrapper {
    height: 80%; 
    overflow: scroll;
    padding: 20px 10%;
}

.paginator {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.loader-wrapper {
    padding-top: 20%;
}